.insights {
  padding: 6rem 2rem;
  background: #f8f8f8;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.heading {
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
  margin: 0;
}

.postsGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-top: 1rem; 
  
}

.date {
  color: #888;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 100px;
}

.title {
  color: #222;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  margin-top: 100px;
  transition: color 0.2s ease;
}

.title:hover {
  color: #000;
}

.morePostsWrapper {
  text-align: right;
  margin-bottom: 2rem;
}

.readMore {
  color: #d43f75;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.readMore:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .insights {
    padding: 4rem 1rem;
  }
  
  .postsGrid {
    flex-direction: column;
  }
}